body {
    padding-top: 55px;
    background: #dddddd;
}

thead {
    background: #dddddd;
}

tbody {
    background: white;
    border-right: 3px solid #cecece;
    border-left: 3px solid #cecece;
}

table, tr {
    border-bottom: 3px solid #cecece;
}

.fa-bars {
    content: "\f0c9";
    color: #ffffff;
}

.large-cell {
    width: 50%;
    height: 4rem;
}

.small-cell {
    width: 16.66%;
    height: 4rem;
}

.icon-spacing-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.last-modified-size {
    font-size: 0.8rem;
}

.dark-gray {
    color: #666666;
}

.doc-icon {
    padding-left: 1rem;
    padding-right: 1.5rem;
    color: #007bff;
}

.x-button-spacing {
    padding-right: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.row-light-text {
    font-size: 0.9rem;
    color: #999999;
}

.hamburger {
    padding-left: 10px;
    padding-right: 15px;
}

.course-manager-style {
    display: block;
    color: white;
    font-size: 1.4rem;
    padding-right: 1rem;
}

.search-area {
    width: 60%;
}

.search-bar {
    display: block;
    width: 100%;
    padding: .1rem 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #EAEBEB;
    background-color: #649BF3;
    background-clip: padding-box;
    border: 0px solid white;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::placeholder {
    color: #EAEBEB;
}

.row {
    width: 100%;
}

.add-button-area {
    padding-left: 1rem;
}

.add-btn {
    background-color: red;
    border-radius: 1.5rem;
}

.drop-down-arrow {
    padding-left: 1rem;
}