body {
    padding-top: 55px;
    background: #dddddd;
}

thead {
    background: #dddddd;
    border-bottom: 3px solid #cecece;
}

tbody {
    background: white;
    border-right: 2px solid #cecece;
    border-left: 2px solid #cecece;
}

.table, tr {
    border-bottom: 2px solid #cecece;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: none;
}

.fa-bars {
    content: "\f0c9";
    color: #ffffff;
}

.large-cell {
    width: 50%;
    height: 3rem;
    max-width: 400px;
}

.small-cell {
    width: 16.66%;
    height: 3rem;
}

.header-height {
    height: 4rem;
}

.header-icon {
    padding-left: 10px;
    padding-right: 10px;
}

.last-modified-size {
    font-size: 0.8rem;
}

.dark-gray {
    color: #666666;
}

.doc-icon {
    padding-left: .75rem;
    padding-right: 1.25rem;
    color: #007bff;
}

.smaller-header {
    font-size: 0.9rem;
}

.shared-icon {
    padding-left: 1rem;
    padding-right: 1rem;
    color: #aaaaaa;
}

.x-button-spacing {
    padding-right: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
}

.row-light-text {
    font-size: 0.9rem;
    color: #999999;
}

.hamburger {
    padding-left: 20px;
    padding-right: 15px;
}

.course-manager-style {
    display: block;
    color: white;
    font-size: 1.4rem;
    padding-right: 1rem;
}

.search-area {
    width: 60%;
}

.search-bar {
    display: block;
    width: 100%;
    padding: .1rem 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #EAEBEB;
    background-color: #649BF3;
    background-clip: padding-box;
    border: 0px solid white;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

::placeholder {
    color: #EAEBEB;
}

.row {
    width: 100%;
}

.add-button-area {
    padding-left: 1rem;
}

.add-btn-top {
    background-color: red;
    border-radius: 1.5rem;
}

.drop-down-arrow {
    padding-left: 1rem;
}